
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.js</url-pattern>
		
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.svg</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		
		<url-pattern>*.eot</url-pattern>
		<url-pattern>*.ttf</url-pattern>
		<url-pattern>*.woff</url-pattern>
		<url-pattern>*.woff2</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>HomeServlet</display-name>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.javamaster.controller.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>